.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 5px !important;
  /* Width of the vertical scrollbar */
  height: 5px !important;
  /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #AEAEB5;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #AEAEB5;
  /* Color of the thumb on hover */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the scrollbar track */
  border-radius: 10px;
  /* Rounded corners for the track */
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #AEAEB5 #f1f1f1;
  /* thumb color, track color */
}

/* Style the scrollbars */
.custom-scroll-container::-webkit-scrollbar {
  width: 0px;
  /* Initially hidden */
}

.custom-scroll-container:hover::-webkit-scrollbar {
  width: 5px;
  /* Scrollbar width on hover */
}

.custom-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  /* Color of the scrollbar */
  border-radius: 10px;
  /* Rounded corners */
}

.custom-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  /* Darker on hover */
}

/* Scrollbar track (optional if you want a track color) */
.custom-scroll-container::-webkit-scrollbar-track {
  background: transparent;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-primary-button {
  background-color: #3900DB;
  color: #FFFFFF;
}

.custom-text1 {
  color: #72779E;
}

.custom-text-link {
  color: #3900DB;
  cursor: pointer;
}

.login-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center-align the container */
}

.auth-custom-footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  position: absolute;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .login-container-left {
    padding: 10px;
    /* Reduce padding for smaller screens */
  }

  .auth-footer-content {
    flex-direction: column;
    /* Stack footer content on smaller screens */
    align-items: center;
    /* Center-align footer content */
  }

  .footer-links {
    margin-top: 10px;
    /* Add space above links in footer */

  }
}

.ant-btn-color-primary.ant-btn-background-ghost {
  color: #3900DB !important;
  border-color: #3900DB !important;
  margin: 10px;
}

.custom-select .ant-select-selector:hover {
  border: 0px solid #d9d9d9 !important;
}

.custom-btn {
  margin: 5px;
}

.ant-form-item {
  margin-bottom: 10px !important;
}

.ant-tabs .ant-tabs-tab:hover {
  color: #3900DB
}

.ant-input-outlined:focus-within {
  border-color: #3900DB
}

.ant-input-outlined:hover {
  border-color: #3900DB
}

.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #3900DB;
  background-color: #3900DB;
}

.ant-checkbox-checked .ant-checkbox-inner:hover {

  background-color: #3900DB !important;
}

.ant-menu .ant-menu-item-selected {
  background-color: #EFEEFF !important;
  color: #3900DB !important;
}

.ant-menu-item .ant-menu-item-selected .ant-menu-title-content .custom-text1 {
  color: #3900DB !important;
}

.ant-btn-variant-solid {
  background-color: #3900DB;
}

.ant-alert {
  align-items: center;
  display: flex;
}

.ant-alert-with-description {
  padding: 5px 15px;
}

.ant-alert-message {
  margin-bottom: 0px !important;
}

@media only screen and (max-width: 600px) {
  .container-right {
    display: none;
  }
}

.ant-btn-variant-solid:hover {
  color: #fff !important;
  background-color: #3900DB !important;
}

Ã a:hover {
  color: #3900DB;
}

.ant-form-item-required::before {
  display: none;
}

label:before {
  display: none !important;
}



.ant-layout-header {
  line-height: 30px;
  height: 66px;
}

.ant-layout {
  background-color: #fff;
}


.primary-text-color {
  color: #72779E;
}

.ant-select-selector:hover {
  border-color: #3900DB !important;
}

.ant-select-focused {
  border-color: #3900DB !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #3900DB;
}

.ant-tabs .ant-tabs-tab-btn:hover {
  color: #3900DB;
}

.ant-tabs-nav-wrap {
  margin-left: 15px;
}

.custom-badge-primary .ant-badge-count {
  border-radius: 5px;
  color: #3900DB;
  background: #F6F7FF;

}

.pagination-link a {
  color: #3900DB !important;
}

.pagination-link a:hover {
  color: #3900DB !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: #000 !important;
}

.ant-pagination a {
  color: #72779E !important;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #F6F7FF;
  border: none;
}

.ant-tabs-nav {
  margin: 0px !important;
}

.ant-btn-variant-dashed:hover {
  border-color: #3900DB !important;
}

.kanbanCard.ant-card .ant-card-body {
  padding: 15px;
}

.ant-select-selection-item {
  color: #72779E;
}

.custom-modal .ant-modal-content {
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.custom-modal .ant-modal-header {
  background-color: #E8EBEF;
  padding: 10px;
}

.custom-modal .ant-modal-body {
  padding: 0px 24px 10px 24px;
}


.ant-input:focus,
.ant-select-selector:focus {
  border-color: #3900DB;
}

.ant-input:focus {
  box-shadow: none !important
}

.ant-switch.ant-switch-checked {
  background-color: #3900DB;
}

.ant-switch.ant-switch-checked:hover {
  background-color: #3900DB !important;
}

.ant-btn-variant-outlined:hover {
  color: #3900DB !important;
  border-color: #3900DB !important;
}

.ant-picker-outlined:focus-within {
  border-color: #3900DB
}

li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background: #EFEEFF !important
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #3900DB;
}

.ant-table-wrapper .ant-table-thead>tr>td {
  background: #fff !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-ccdg5a).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled) .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-ccdg5a).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
  background: #3900DB
}

.custom-conversation-call-icon:hover {
  background-color: #0EAE2E !important;
  border: none !important;
}

.custom-IoCallOutline:hover {
  background-color: #C5FFB7 !important;
  border: none !important;
}

.custom-HiOutlineChatBubbleLeft:hover {
  background-color: #FFF2AF !important;
  border: none !important;
}

.custom-conversation-chat-icon:hover {
  background-color: #FFF2AF !important;
  border: none !important;
}

.custom-GoMail:hover {
  background-color: #E0E4FF !important;
  border: none !important;
}

.DraggableCard {
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
}

.custom-input::placeholder {
  color: #72779E;
  /* Set your desired placeholder color here */
  opacity: 1;
  /* Ensures color is not faded */
}


.kanban-board {
  display: flex;
  justify-content: space-between;
}

.kanban-section {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #f9f9f9;
}

.kanban-item {
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: move;
}

.dragging {
  opacity: 0.5;
}

.ant-notification-notice-error {
  background: #FFF2F2;
  border-radius: 10px;
}

.ant-notification-notice-error .ant-notification-notice-message {
  color: red !important;
}

.ant-notification-notice-error .ant-notification-notice-description {
  color: red !important;
}

.ant-notification-notice-error .ant-notification-notice-close span svg {
  color: red !important;
}

.ant-notification-notice-error .ant-notification-notice-with-icon svg {
  color: red !important;
}


.ant-notification-notice-success {
  background: #F3FFF2;
  border-radius: 10px;
}

.ant-notification-notice-success .ant-notification-notice-message {
  color: #088D0D !important;
}

.ant-notification-notice-success .ant-notification-notice-description {
  color: #088D0D !important;
}

.ant-notification-notice-success .ant-notification-notice-close span svg {
  color: #088D0D !important;
}

.ant-notification-notice-success .ant-notification-notice-with-icon svg {
  color: #088D0D !important;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected .ant-table-cell {
  background-color: #EFEEFF;
}

.ant-table-cell-row-hover {
  background-color: #EFEEFF !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner:after,
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: #3900DB;
}

.ant-input-group-wrapper-outlined .ant-input-group-addon {
  background-color: #fff;
}

.custom-search.ant-input-outlined {
  border-left: none;
  border-right: none;
}

.custom-search .ant-input:focus,
.ant-select-selector:focus {
  border-top: 1px solid #d9d9d9 !important;
  border-bottom: 1px solid #d9d9d9 !important;
  box-shadow: none;
}

.custom-search .ant-input:hover,
.ant-select-selector:focus {
  border-top: 1px solid #d9d9d9 !important;
  border-bottom: 1px solid #d9d9d9 !important;
  box-shadow: none;
}

/* App.css */
.droppable-hover {
  border: 2px dashed #007bff;
  /* Dotted border style */
}

.lead-details-modal .ant-modal-content {
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.custom-card-notes.ant-card .ant-card-body {
  padding: 0px !important;
}

.custom-modal-lead-details .ant-modal-header {
  background: linear-gradient(90deg, #F5F8FF 0%, #FEF7FE 51.48%, #FFFBFE 100%) !important;
  padding: 15px;
  border-bottom: 1px solid #E8EBEF;
}

.custom-modal-lead-details .ant-modal-content {
  padding: 0px 0px 15px 0px;
}

.custom-modal-lead-details .ant-modal-body {
  padding: 0px 15px 15px 15px;
}

.editableTextContainer {
  display: inline-flex;
  align-items: center;
  position: relative;
}



.mention-text {
  color: red !important;
  /* Ensure the text is red */
}

a {
  color: #3900DB;
}

.ant-btn-variant-link {
  color: #3900DB;
}

.ant-tabs .ant-tabs-ink-bar {
  background-color: #3900DB !important;
}

.ant-btn-variant-link:hover {
  color: #3900DB !important;
}

.float-button .ant-float-btn-body {
  background-color: '#1B0756' !important
}



.email-thread {
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.email {
  border-bottom: 1px solid #f0f0f0;
  padding: 16px;
}

.email-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sender-info {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 8px;
}

.attachment {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.reply-icon {
  cursor: pointer;
  color: #1890ff;
}



/* For WebKit browsers (Chrome, Safari) */
.scroll-container::-webkit-scrollbar {
  width: 5px;
  /* Set scrollbar width */
}



.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
}

/* Custom CSS for the input */
.custom-ant-input-outlined .ant-input {
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
  /* Ensure text is white */
}

.custom-ant-input-outlined .ant-input:focus {
  box-shadow: none !important;
  /* Remove focus outline */
  border-color: transparent !important;
  /* Remove border color on focus */
}

.custom-ant-empty-description {
  color: #fff !important;
}

.kanban-custom-card .ant-card-body {
  padding: 15px 15px 10px 15px !important;
}

.custom-report-card .ant-card-body {
  padding: 10px !important;
}

.create-clinic-modal-row{
  padding: 10px 0px 10px 0px;
}

.ant-menu{
  border: none;
}

.multi-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal;
}

a:hover{
  color: #3900DB;
}